@import url("./base-styles.css");
@import url("./kustomize-components.css");
@import url("./footer.css");
@import url("./main-navbar.css");

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 15rem 0 0 0;
}

.accent-text {
  color: var(--accent-color);
}

.container-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.component-wrapper {
  max-width: 100%;
}

.demo-container {
  padding: 1.6rem;
  border: 2px solid #e6e6e6;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 3.2rem;
}

.demo-alert,
.demo-toast {
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.demo-typography {
  display: block;
}

.demo-lists {
  gap: 3rem;
}

.demo-list {
  padding: 1.6rem;
  border: 2px solid #e6e6e6;
  border-radius: 0.5rem;
}

.demo-list ul,
.demo-list ol {
  list-style-position: inside;
  color: var(--dark-gray);
  font-size: 1.6rem;
}

.text-badge-container {
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.demo-navbar,
.demo-modal {
  display: block;
}
